.bgImgHeader {
    background-image: url("./Image/Bark-Happy-9-20-91-1-1500x883.jpg");
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
}

.txt{
    text-shadow: rgb(34, 34, 34) 2px 2px 6px;
    color: rgb(255, 255, 255);
}

.mbImg img{
    max-width: 250px;
}

.mbImg{
    position: relative;
}
.img2{
    position: absolute;
    right: 50px;
    top: 10px;
}

.discover{
    text-align: center;
    font-weight: 300 !important;
}

.Explore-text{
    font-size: 24px;
    text-align: center;
    font-weight: 400 !important;
}

.apps-google{
    margin: 0px 0px 0px 13px !important;
}

.apps-google img{
    width: 230px;
    height: 78px;
}